@media (max-width: 1024px){
    /* Custom CSS */
    h1{
        font-size: 3.25rem;
    }
    h2{
        font-size: 1.375rem;
        line-height: 1.8rem;
    }
    .wrapper{
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}
@media (max-width: 991px){
    /* Custom css */
    h4,
    .choose .card a h4{
        font-size: 0.9375rem;
        margin-bottom: 0.625rem;
    }
    p{
        font-size: 0.8125rem;
    }
}